.component-tx {
  width: 80%;
  margin: 0 auto;
}

.tx {
  font-size: 30px;
  font-family: helvetica, sans-serif;
  font-weight: bold;
  background-color: #D5FFE8;
  border-radius: 0.5em;
  text-align: center;
  padding: 0.5em;
  animation-delay: 1.5s;
}
