.component-form {
  width: 50%;
  margin: 0 auto;
  display: none;
}

.form-control {
  margin: 1em 0 2em;
  width: 100%;
}

.form-input {
  font-size: 20px;
  padding: 1em;
  width: 100%;
}

.form-label {
  font-size: 20px;
  margin-bottom: 10px;
  display: block;
}
